
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="m-3 card card-body col-4">
    <h1>STATS</h1>

    Liczba leków w systemie: {{total_count}}
    <br>
    {% for drug,count in unique_sample_string.items %}

        <div class="row m-1">
            <div class="col">Nazwa leku: <b>{{drug}} </b> </div> 
            <div class="badge badge-primary col">Ilość leku: {{count}} </div>  
        </div>
    {% endfor %}
    <br>
</div>

<a class="btn btn-outline-primary" href="{% url 'add_drug' %}">Dodaj lek</a>

<table class="m-3 card card-body col-6">
<tr>
<th>Nazwa leku</th>
<th>Czy lek jest ważny?</th>
<th>Data ważności</th>
</tr>
{% for drug in all_drugs %}
<tr>
    <td>{{drug.sample_text}}</td>
    <td>{{drug.sample_bool}}</td>
    <td>{{drug}}</td>
</tr>
{% endfor %}


</table>